.App {
  background-color: #282c34;
  color: white;
  padding: 24px;
  min-height: 100vh;
}

.App-header {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}
